@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');

.container {
    height: 100%;
    display: table-row;
}

#landing-page {
    display: table-cell;
    height: 100%;
    min-width: 100vw;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 20px;
    right: 0;
}

.node {
    r: 12;
    &:hover{
        stroke: black;
        stroke-width: 2px;
    }
    animation: colorize 4s 1 ease-in-out;
}
@keyframes colorize {
    0% {fill: black; stroke: fill;}
    10% {fill: black; stroke: fill; stroke-width: 0;}
    60% {fill: fill; stroke: black; stroke-width: 0;}
    70% {fill: fill; stroke: black; stroke-width: 2px;}
    100% {fill: fill; stroke: black; stroke-width: 0;}
}

.edge {
    stroke: black;
    stroke-width: 2px;
}

.name {
    overflow: visible;
    & text {
        font-family: 'JetBrains Mono', monospace;
        font-weight: bold;
        font-size: 100px;
        animation: fade-in 8s 1;
    }
}
@keyframes fade-in {
    0% {opacity: 0;}
    20% {opacity: 0;}
    100% {opacity: 1;}
}

#tooltip {
    background-color: black;
    color: white;
}
